# PANDAS

In [1]:
import pandas as pd
import numpy as np

# Panda Data Structure Series DataFrame
                             series

In [4]:
s1=pd.Series([11,22,33,44,55,66,77,88,99])
s1
#PAndas series Object

0    11
1    22
2    33
3    44
4    55
5    66
6    77
7    88
8    99
dtype: int64

In [5]:
#index(0-9 default index given by series object)

In [7]:
s1[8] #Accessing value by index

99

In [10]:
s1[[2,4,7,8,0]] #Accesing multiple values

2    33
4    55
7    88
8    99
0    11
dtype: int64

In [12]:
s1[5]=3333  #MOdifying a value in a series
s1

0      11
1      22
2      33
3      44
4      55
5    3333
6      77
7      88
8      99
dtype: int64

In [15]:
del s1[4] #deleting a Value
s1

0    11
1    22
2    33
3    44
6    77
7    88
8    99
dtype: int64

In [18]:
s1[[2,3,6]]=[21,22,23] #MOdifying Multiple Value
s1

0    11
1    22
2    21
3    22
6    23
7    88
8    99
dtype: int64

In [21]:
s1[99]=444  #For Inserting An Value
s1

0      11
1      22
2      21
3      22
6      23
7      88
8      99
99    444
dtype: int64

In [28]:
s2=pd.Series([10,20,30,40],index=["oranges","apple","bananas","Kiwi"])  #we can give our own index and we can access 
                                                                        #by this like key but not have memory access
                                                                        #Can be Strong or Integer
s2

oranges    10
apple      20
bananas    30
Kiwi       40
dtype: int64

In [29]:
s2.index

Index(['oranges', 'apple', 'bananas', 'Kiwi'], dtype='object')

In [30]:
s2.values

array([10, 20, 30, 40], dtype=int64)

In [32]:
ourIndex=["oranges","apple","bananas","Kiwi"]
s2=pd.Series([10,20,30,40],index=ourIndex)
s2

oranges    10
apple      20
bananas    30
Kiwi       40
dtype: int64

In [33]:
s2>30 #give true where the condition satisfied and false otherwise

oranges    False
apple      False
bananas    False
Kiwi        True
dtype: bool

In [34]:
s2[s2>30]  #give only those records greater than 30

Kiwi    40
dtype: int64

In [35]:
s2[s2<30]  #give only those records less than 30

oranges    10
apple      20
dtype: int64

In [36]:
'peech' in s2  #Check if requirerd key is in the series or not

False

In [37]:
'oranges' in s2

True

# Creating a Series by using a dictionary

In [46]:
sdata={'Ohio':3500,'Texas':466777,'Oregon':977666.,'Utha':89782}
data=pd.Series(sdata)
data

Ohio        3500.0
Texas     466777.0
Oregon    977666.0
Utha       89782.0
dtype: float64

In [54]:
states=['Ohio','Oregon','Texas','Clifornia' ]
data1=pd.Series(sdata,index=states)
data1
data1.isnull()

Ohio         False
Oregon       False
Texas        False
Clifornia     True
dtype: bool

In [53]:
data1.notnull()

Ohio          True
Oregon        True
Texas         True
Clifornia    False
dtype: bool

In [51]:
#Since California is NaN we can assign the Value

In [47]:
data1['Clifornia']=7567
data1

Ohio           3500.0
Oregon       977666.0
Texas        466777.0
Clifornia      7567.0
dtype: float64

In [48]:
data1.isnull()

Ohio         False
Oregon       False
Texas        False
Clifornia    False
dtype: bool

# DATA FRAME

In [67]:
    data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
             'year': [2000, 2001, 2002, 2001, 2002, 2003],
              'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}


df1=pd.DataFrame(data)
df1

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

In [66]:
df1[['pop']] #Selecting single column by column headers

   pop
0  1.5
1  1.7
2  3.6
3  2.4
4  2.9
5  3.2

In [142]:
df1.pop

<bound method NDFrame.pop of     state  year
0    Ohio  2000
1    Ohio  2001
2    Ohio  2002
3  Nevada  2001
4  Nevada  2002
5  Nevada  2003>

In [143]:
df1[['pop','state']] #selecting multiple column by column headers

KeyError: "['pop'] not in index"

In [144]:
del df1['pop']  #deleting column
df1

KeyError: 'pop'

In [145]:
df1

    state  year
0    Ohio  2000
1    Ohio  2001
2    Ohio  2002
3  Nevada  2001
4  Nevada  2002
5  Nevada  2003

In [64]:
 data = {'Subject': ['python', 'DataStructure', 'Database', 'OOP', 'Web Development', 'OS'],
             'Day': ['Mon','Tue','Wed','Thur','Fri','Sat'],
              'Marks': [60,80,79,90,87,88]}
df2=pd.DataFrame(data)
df2

           Subject   Day  Marks
0           python   Mon     60
1    DataStructure   Tue     80
2         Database   Wed     79
3              OOP  Thur     90
4  Web Development   Fri     87
5               OS   Sat     88

In [76]:
df2["gpa"]=3.8  #Adding single value to all column

In [77]:
df2

           Subject   Day  Marks  gpa
0           python   Mon     60  3.8
1    DataStructure   Tue     80  3.8
2         Database   Wed     79  3.8
3              OOP  Thur     90  3.8
4  Web Development   Fri     87  3.8
5               OS   Sat     88  3.8

In [78]:
df2["gpa"]=[3.4,3.5,3.6,3.7,3.8,3.9]  #Adding differnt value to all column
df2

           Subject   Day  Marks  gpa
0           python   Mon     60  3.4
1    DataStructure   Tue     80  3.5
2         Database   Wed     79  3.6
3              OOP  Thur     90  3.7
4  Web Development   Fri     87  3.8
5               OS   Sat     88  3.9

In [84]:
df2["Day"]=range(6) #give the range for the column

In [85]:
df2

           Subject  Day  Marks  gpa
0           python    0     60  3.4
1    DataStructure    1     80  3.5
2         Database    2     79  3.6
3              OOP    3     90  3.7
4  Web Development    4     87  3.8
5               OS    5     88  3.9

In [124]:
dic={"Ai for Everyone":[12,23,13,14,15,16],
     "Python1":[67,88,88,99,98,76],
     "Python2":[56,77,88,99,89,55]

    }
df=pd.DataFrame(dic,index=["wardha","omama","fatima","asma","rida","sana"])
df

        Ai for Everyone  Python1  Python2
wardha               12       67       56
omama                23       88       77
fatima               13       88       88
asma                 14       99       99
rida                 15       98       89
sana                 16       76       55

In [127]:
df["total"]=df["Ai for Everyone"] + df["Python1"] + df["Python2"]
df
del df["result"]

KeyError: 'result'

In [104]:
df

        Ai for Everyone  Python1  Python2  total
wardha               12       67       56    135
omama                23       88       77    188
fatima               13       88       88    189
asma                 14       99       99    212
rida                 15       98       89    202
sana                 16       76       55    147

In [128]:
df["status"]=df["total"]>200
df

        Ai for Everyone  Python1  Python2  total  status
wardha               12       67       56    135   False
omama                23       88       77    188   False
fatima               13       88       88    189   False
asma                 14       99       99    212    True
rida                 15       98       89    202    True
sana                 16       76       55    147   False

In [110]:
for i in range(6):
    if df["status"][i] == False:
        df["status"][i]="pass"
    else:
        df["status"][i]="fail"
df

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

        Ai for Everyone  Python1  Python2  total  status
wardha               12       67       56    135    True
omama                23       88       77    188    True
fatima               13       88       88    189    True
asma                 14       99       99    212    True
rida                 15       98       89    202    True
sana                 16       76       55    147    True

In [111]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
evenarr=[]
oddarr=[]
for num in numbers:
    if num%2==0:
        evenarr.append(num)
    else:
        oddarr.append(num)
print(evenarr)
print(oddarr)

[2, 4, 6, 8, 10, 12, 14]
[1, 3, 5, 7, 9, 11, 13, 15]

In [113]:
[num for num in numbers  if num%2==0] #LIST COMPREHENSION

[2, 4, 6, 8, 10, 12, 14]

In [114]:
df["status"]=["Pass" if marks>=200 else "Fail" for marks in df.total]
df

        Ai for Everyone  Python1  Python2  total status
wardha               12       67       56    135   Fail
omama                23       88       77    188   Fail
fatima               13       88       88    189   Fail
asma                 14       99       99    212   Pass
rida                 15       98       89    202   Pass
sana                 16       76       55    147   Fail

In [132]:
df["percentage"]=[str(round(tot/250 * 100,2)) + "%" for tot in df.total]
df

        Ai for Everyone  Python1  Python2  total  status percentage
wardha               12       67       56    135   False      54.0%
omama                23       88       77    188   False      75.2%
fatima               13       88       88    189   False      75.6%
asma                 14       99       99    212    True      84.8%
rida                 15       98       89    202    True      80.8%
sana                 16       76       55    147   False      58.8%

In [141]:
df["Statusbypercentage"]=["Pass" if round(tot/250 * 100,2)>33 else "Fail" for tot in df.total]
df

,Ai for Everyone,Python1,Python2,total,status,percentage,Statusbypercentage
wardha,12,67,56,135,False,54.0%,Pass
omama,23,88,77,188,False,75.2%,Pass
fatima,13,88,88,189,False,75.6%,Pass
asma,14,99,99,212,True,84.8%,Pass
rida,15,98,89,202,True,80.8%,Pass
sana,16,76,55,147,False,58.8%,Pass

In [151]:
df['perSubject']=["pass" if a>=16 and p1>=33 and p2>=33 else "Fails"
                 for a,p1,p2 in zip(df['Ai for Everyone'],df['Python1'],df['Python2'])]
df

,Ai for Everyone,Python1,Python2,total,status,percentage,Statusbypercentage,perSubject
wardha,12,67,56,135,False,54.0%,Pass,Fails
omama,23,88,77,188,False,75.2%,Pass,pass
fatima,13,88,88,189,False,75.6%,Pass,Fails
asma,14,99,99,212,True,84.8%,Pass,Fails
rida,15,98,89,202,True,80.8%,Pass,Fails
sana,16,76,55,147,False,58.8%,Pass,pass

In [7]:
import numpy as np
df['persubject']=np.where(((df['Ai for Everyone']<33) & (df['Python1']<33) & (df['Python2']<33)),"fail","pass")
df

NameError: name 'df' is not defined

In [6]:
a=list(range(5))      #Zip is making order pairs 
b=list(range(6))
c=zip(a,b)
for i in c:
    print(i)

(0, 0)
(1, 1)
(2, 2)
(3, 3)
(4, 4)

In [8]:
a=10
b=20
np.where(b>a,"Pass","Fail")

array('Pass', dtype='<U4')