# PANDAS

In [ ]:
import pandas as pd
import numpy as np

# Panda Data Structure Series DataFrame
                             series

In [ ]:
s1=pd.Series([11,22,33,44,55,66,77,88,99])
s1
#PAndas series Object

In [ ]:
#index(0-9 default index given by series object)

In [ ]:
s1[8] #Accessing value by index

In [ ]:
s1[[2,4,7,8,0]] #Accesing multiple values

In [ ]:
s1[5]=3333  #MOdifying a value in a series
s1

In [ ]:
del s1[4] #deleting a Value
s1

In [ ]:
s1[[2,3,6]]=[21,22,23] #MOdifying Multiple Value
s1

In [ ]:
s1[99]=444  #For Inserting An Value
s1

In [ ]:
s2=pd.Series([10,20,30,40],index=["oranges","apple","bananas","Kiwi"])  #we can give our own index and we can access 
                                                                        #by this like key but not have memory access
                                                                        #Can be Strong or Integer
s2

In [ ]:
s2.index

In [ ]:
s2.values

In [ ]:
ourIndex=["oranges","apple","bananas","Kiwi"]
s2=pd.Series([10,20,30,40],index=ourIndex)
s2

In [ ]:
s2>30 #give true where the condition satisfied and false otherwise

In [ ]:
s2[s2>30]  #give only those records greater than 30

In [ ]:
s2[s2<30]  #give only those records less than 30

In [ ]:
'peech' in s2  #Check if requirerd key is in the series or not

In [ ]:
'oranges' in s2

# Creating a Series by using a dictionary

In [ ]:
sdata={'Ohio':3500,'Texas':466777,'Oregon':977666.,'Utha':89782}
data=pd.Series(sdata)
data

In [ ]:
states=['Ohio','Oregon','Texas','Clifornia' ]
data1=pd.Series(sdata,index=states)
data1
data1.isnull()

In [ ]:
data1.notnull()

In [ ]:
#Since California is NaN we can assign the Value

In [ ]:
data1['Clifornia']=7567
data1

In [ ]:
data1.isnull()

# DATA FRAME

In [ ]:
    data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
             'year': [2000, 2001, 2002, 2001, 2002, 2003],
              'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}


df1=pd.DataFrame(data)
df1

In [ ]:
df1[['pop']] #Selecting single column by column headers

In [ ]:
df1.pop

In [ ]:
df1[['pop','state']] #selecting multiple column by column headers

In [ ]:
del df1['pop']  #deleting column
df1

In [ ]:
df1

In [ ]:
 data = {'Subject': ['python', 'DataStructure', 'Database', 'OOP', 'Web Development', 'OS'],
             'Day': ['Mon','Tue','Wed','Thur','Fri','Sat'],
              'Marks': [60,80,79,90,87,88]}
df2=pd.DataFrame(data)
df2

In [ ]:
df2["gpa"]=3.8  #Adding single value to all column

In [ ]:
df2

In [ ]:
df2["gpa"]=[3.4,3.5,3.6,3.7,3.8,3.9]  #Adding differnt value to all column
df2

In [ ]:
df2["Day"]=range(6) #give the range for the column

In [ ]:
df2

In [ ]:
dic={"Ai for Everyone":[12,23,13,14,15,16],
     "Python1":[67,88,88,99,98,76],
     "Python2":[56,77,88,99,89,55]

    }
df=pd.DataFrame(dic,index=["wardha","omama","fatima","asma","rida","sana"])
df

In [ ]:
df["total"]=df["Ai for Everyone"] + df["Python1"] + df["Python2"]
df
del df["result"]

In [ ]:
df

In [ ]:
df["status"]=df["total"]>200
df

In [ ]:
for i in range(6):
    if df["status"][i] == False:
        df["status"][i]="pass"
    else:
        df["status"][i]="fail"
df

In [ ]:
numbers=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
evenarr=[]
oddarr=[]
for num in numbers:
    if num%2==0:
        evenarr.append(num)
    else:
        oddarr.append(num)
print(evenarr)
print(oddarr)

In [ ]:
[num for num in numbers  if num%2==0] #LIST COMPREHENSION

In [ ]:
df["status"]=["Pass" if marks>=200 else "Fail" for marks in df.total]
df

In [ ]:
df["percentage"]=[str(round(tot/250 * 100,2)) + "%" for tot in df.total]
df

In [ ]:
df["Statusbypercentage"]=["Pass" if round(tot/250 * 100,2)>33 else "Fail" for tot in df.total]
df

In [ ]:
df['perSubject']=["pass" if a>=16 and p1>=33 and p2>=33 else "Fails"
                 for a,p1,p2 in zip(df['Ai for Everyone'],df['Python1'],df['Python2'])]
df

In [ ]:
import numpy as np
df['persubject']=np.where(((df['Ai for Everyone']<33) & (df['Python1']<33) & (df['Python2']<33)),"fail","pass")
df

In [ ]:
a=list(range(5))      #Zip is making order pairs 
b=list(range(6))
c=zip(a,b)
for i in c:
    print(i)

In [ ]:
a=10
b=20
np.where(b>a,"Pass","Fail")

In [1]:
import numpy as np
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])

print(data_df, "\n")
# in the loc method specify row label first 
# then specify column names
# remember! mutiple column names require array notation
#print( data_df.loc[['Colorado','Ohio'], ['two',  'three'] ] )
#print("\n")
print( data_df.iloc[2:, [3, 0, 1] ] ) # using number instead of labels
#print( data_df.iloc[:])
#print ( data_df.iloc[ :3 , :3 ] )
#print( data_df.iloc[:, :3])import numpy as np
import pandas as pd

data_df = pd.DataFrame(np.arange(16).reshape((4, 4)), 
             index=['Ohio', 'Colorado', 'Utah', 'New York'],
             columns=['one', 'two', 'three', 'four'])

print(data_df, "\n")
# in the loc method specify row label first 
# then specify column names
# remember! mutiple column names require array notation
#print( data_df.loc[['Colorado','Ohio'], ['two',  'three'] ] )
#print("\n")
print( data_df.iloc[2:, [3, 0, 1] ] ) # using number instead of labels
#print( data_df.iloc[:])
#print ( data_df.iloc[ :3 , :3 ] )
#print( data_df.iloc[:, :3])

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          four  one  two
Utah        11    8    9
New York    15   12   13
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

          four  one  two
Utah        11    8    9
New York    15   12   13